################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/capacitaciongit2/FileContentIndex
/.vs/capacitaciongit2/v17/.wsuo
/.vs/slnx.sqlite
/.vs/slnx.sqlite
/.vs/capacitaciongit2/v17/.wsuo
/.vs/capacitaciongit2/FileContentIndex/06aa2fed-9624-44ae-a633-742fd7546063.vsidx
/.vs/capacitaciongit2/FileContentIndex/06aa2fed-9624-44ae-a633-742fd7546063.vsidx
/.vs/capacitaciongit2/FileContentIndex/bee4825c-051f-46b7-bd23-05337c7abe5f.vsidx
/.vs/capacitaciongit2/FileContentIndex/06aa2fed-9624-44ae-a633-742fd7546063.vsidx
