################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/capacitaciongit2/FileContentIndex
/.vs/capacitaciongit2/v17/.wsuo
/.vs/slnx.sqlite
